.categories-container {
  display: inline-flex;
  padding-top: 20px;
  flex-wrap: wrap; /* 버튼이 화면을 벗어나면 다음 줄로 이동 */
  width: 80%;
  justify-content: space-around;
}

.category-button {
  flex-shrink: 0; /* 버튼 크기 고정 */
  width: 100px; /* 버튼 너비 설정 */
  height: 80px; /* 납작한 직사각형 높이 설정 */
  font-size: 1em; /* 글씨 크기 설정 */
  color: black;
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: white;
  transition: background-color 0.3s;
  text-align: center; /* 텍스트 중앙 정렬 */
}

.category-button:hover {
  background-color: #f0f0f0;
}
  