.App-header {
    background-color: #282c34;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .links {
    display: flex;
    gap: 20px;
    align-items: center;
    padding-top: 10px;
  }
  
  .links a {
    color: white;
    text-decoration: none;
    padding-bottom: 5px;
  }
  
  .links a:hover {
    text-decoration: underline;
  }
  
  .links .active {
    border-bottom: 2px solid white; /* 밑줄 */
    font-weight: bold; /* 활성화된 버튼 굵게 표시 */
  }
  
  .right-section {
    margin-left: auto;
  }
  